/*
	@author Jhonsef Pires
	@version 0.1
*/


/* ========================== Layout ========================== */

body{
	border: 1px solid red;
	background: url('imagens/capa.png'), 
				url('imagens/ruido.png'),
				linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
}

/* -- Barra de navegação -- */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/spotify.svg') no-repeat;
	/*border: 1px solid red;*/
	background-size: contain;
	color: transparent;
}

nav.navbar-transparent {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand{
	padding: 0px;
}

.divisor {
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

/*Imagem de capa*/




/* ========================== Tipografia ========================== */